DEBUG=on
SECRET_KEY=django-insecure-&1(ffu=43owjh(vfluvpv#9aq^_j1r*r7iyphe2cay44xiu5f@
DATABASE_URL=mysql://root:password@127.0.0.1:3306/subscriptions


BANCARD_URL=https://vpos.infonet.com.py:8888
PUBLIC_KEY=GX5mkcBMz2Iz9GQYNqV5UgRQp2Kjz91k
PRIVATE_KEY=F(00dWZ1$S4GQwzOuL7Osw+Ij0pcEE$cEl9YgY3T
RETURN_URL=/subscriptions/return-url
CANCEL_URL=/subscriptions/cancel

DOMAIN_URI=https://subscriptions.localhost