DEBUG=on
SECRET_KEY=secret_key
DATABASE_URL=database-connection

BANCARD_URL=https://vpos.infonet.com.py:8888
PUBLIC_KEY=public_key
PRIVATE_KEY=private_key
RETURN_URL=/subscriptions/return-url
CANCEL_URL=/subscriptions/cancel
RETURN_CARD_URL=/cards/confirm/

DOMAIN_URI=https://subscriptions.localhost