{% extends 'base.html' %}

{% block content %}
    <div class="container py-5 text-center">
        <h3>Checkout</h3>
    </div>

    <div class="container">
        <form action="{% url 'checkout' %}" method="POST">
            {%  csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="card shadow-sm bg-light">
                        <div class="card-body ">
                            <p class="card-text fw-bold">Billing details</p>

                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">First Name
                                        <abbr class="required" title="required">*</abbr></label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" autofocus>
                                </div>
                                <div class="col mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Last Name
                                        <abbr class="required" title="required">*</abbr></label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Company Name
                                    (optional)</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Street address
                                    <abbr class="required" title="required">*</abbr></label>
                                <input type="text" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Town / City
                                    <abbr class="required" title="required">*</abbr></label>
                                <input type="text" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Phone
                                    <abbr class="required" title="required">*</abbr></label>
                                <input type="text" class="form-control" id="exampleFormControlInput1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Email address
                                    <abbr class="required" title="required">*</abbr></label>
                                <input type="email" class="form-control" id="exampleFormControlInput1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text fw-bold">Your order</p>
                            <div class="row mb-3">
                                <div class="col fw-bold">Product</div>
                                <div class="col fw-bold text-end">Subtotal</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-8">
                                    Monthly Candy Box with Plans - Medium - 50 candies
                                </div>
                                <div class="col-4 fw-bold text-end">
                                    Gs. 12000
                                </div>
                            </div>

                            <hr size="1">

                            <div class="row mb-3">
                                <div class="col-8 fw-bold">Total</div>
                                <div class="col-4 text-end fw-bold">Gs. 12000</div>
                            </div>

                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-sm btn-primary text-uppercase py-3">Signup Now
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}