{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <h3>Select one subscription</h3>
            </div>
            <div class="col-6">
                {% if user.is_authenticated %}
                    <div class="text-end">
                        <a href="{% url 'profile' %}" class="btn btn-link">Mi Profile</a>
                        <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
                    </div>
                {% else %}
                    <div class="text-end">
                        <a href="{% url 'login' %}" class="btn btn-primary">Sign-In</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    <form action="{% url 'add_item' %}" method="POST" autocomplete="off">

                        {% csrf_token %}

                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/media/{{ product.image_product }}" alt="image-{{ product.title_product }}" class="img-fluid">

                                <div class="card-body text-center">
                                    <p class="card-text">{{ product.title_product }}</p>
                                    <div class="py-3">
                                        <div class="row justify-content-start">
                                            <div class="col pt-2">
                                                Plan
                                            </div>
                                            <div class="col-10">
                                                <select class="form-select" name="plan_id">
                                                    {% for plan_product in product.planproducts_set.all %}
                                                        <option value="{{ plan_product.id }}">{{ plan_product.plan.title_plan }} - Gs. {{ plan_product.plan.price }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}