{% extends 'base.html' %}

{% block content %}

    <div class="container py-5">
        <div class="row">
            <di class="col-6">
                <h1>Mi Perfil</h1>
            </di>
            <di class="col-6 text-end">
                <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
            </di>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <div class="row mb-3">
                    <label class="col-2 text-end">Nombre completo:</label>
                    <div class="col-8">
                        {{ customer.first_name }} {{ customer.last_name }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-2 text-end">Direccion:</label>
                    <div class="col-6">
                        {{ customer.street_address }}
                    </div>
                    <div class="col-4">
                        {{ customer.city_name }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-2 text-end">Telefono:</label>
                    <div class="col-8">
                        {{ customer.phone }}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-2 text-end">Plan Adquirido:</label>
                    <div class="col-8">
                        {% for order in orders %}
                            {{ order.product_plan }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">Tarjetas registradas
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane" type="button" role="tab"
                                aria-controls="profile-tab-pane" aria-selected="false">Facturacion
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                         tabindex="0">
                        <div class="container">
                            {% include 'pages/customer/_partials/_cards.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                         tabindex="0">
                        <div class="container">
                            ...
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}