{% if messages %}

   <div class="py-2">
       {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                {{ message }}
            </div>
       {% endfor %}
   </div>

{% endif %}

<table class="table table-hover table-striped mt-4">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Tarjeta</th>
            <th>Tipo</th>
            <th>Expira el</th>
            <th>Marca</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% if cards %}
            {% for card in cards %}
                <tr>
                    <td><input type="checkbox" class="checkbox"
                               id="checkbox-{{ card.id }}" name="checkbox[{{ card.id }}]"
                                value="{{ card.is_default }}"></td>
                    <td>{{ card.card_masked_number }}</td>
                    <td>{{ card.card_type }}</td>
                    <td>{{ card.expiration_date }}</td>
                    <td>{{ card.card_brand }}</td>
                    <td>
                        <a href="{%  url 'delete_card' card.id %}" class="btn btn-danger btn-sm">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No hay registros</td>
            </tr>
        {% endif %}
    </tbody>
</table>