<script>
    $(document).ready(function () {
        $('.checkbox').on('click', function () {
            if ($(this).is(':checked')) {
                $.ajax({
                    url: '{% url 'default_card' %}',
                    method: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {
                        card_id: this.value
                    },
                    dataType: 'json'
                }).done(function (response) {
                    resetCheckbox(response.card_id);
                })
                    .fail(function (xhr, error) {
                        console.log(error);
                    });
            }
        });
    });

    const resetCheckbox = (id) => {
        $('.checkbox').each(function(evt){
            if (this.value !== id){
                this.checked = false;
            }
        });
    };

</script>

<table class="table table-hover table-striped mt-4">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Tarjeta</th>
        <th>Tipo</th>
        <th>Expira el</th>
        <th>Marca</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if cards %}
        {% for card in cards %}
            <tr>
                <td>{% if not card.card_is_deleted %}
                    <input type="checkbox" class="checkbox"
                           id="checkbox-{{ card.id }}" name="checkbox[{{ card.id }}]"
                           value="{{ card.id }}" {% if card.is_default %} checked {% endif %}>
                {% endif %}
                </td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.card_masked_number }}</td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.card_type }}</td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.expiration_date }}</td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.card_brand }}</td>
                <td>
                    {% if not card.card_is_deleted %}
                        <a href="{% url 'delete_card' card.id %}" class="btn btn-danger btn-sm">Borrar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No hay registros</td>
        </tr>
    {% endif %}
    </tbody>
</table>
