<div class="mt-2 py-2">
    <form id="myform" action="{% url 'set_default'  %}" method="post">

        {% csrf_token %}

        <div class="row">
            <label class="col-2 col-form-label text-end">Action</label>
            <div class="col-4">
                <select class="form-select" name="selector">
                    <option value="0" selected>--------</option>
                    <option value="1">Select by default</option>
                    <option value="2">Add new credit / debit card</option>
                </select>
            </div>
            <input type="hidden" name="card_selected_id" id="card_selected_id">
            <input type="hidden" name="prev_default" id="prev_default">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">Go</button>
            </div>
        </div>
    </form>
</div>

<script>

     const setValue = card_id => {
        document.getElementById('card_selected_id').value = card_id
    }
 
   function checkedOnClick(el){
      // Select all checkboxes by class
      var checkboxesList = document.getElementsByClassName("checkbox");
      for (var i = 0; i < checkboxesList.length; i++) {
       /*  if(document.querySelector(checkboxesList.item(i).id).checked){          
            console.log(checkboxesList.item(i).id)
        } */
         checkboxesList.item(i).checked = false; // Uncheck all checkboxes

      }
      el.checked = true; // Checked clicked checkbox
   }


</script>

<table class="table table-hover table-striped mt-4">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Tarjeta</th>
        <th>Tipo</th>
        <th>Expira el</th>
        <th>Marca</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if cards %}
        {% for card in cards %}
            <tr>
                <td>{% if not card.card_is_deleted %}
                    <input type="checkbox" class="checkbox"
                           id="checkbox-{{ card.id }}" name="checkbox[{{ card.id }}]"
                           value="{{ card.is_default }}" onclick="setValue('{{ card.id }}');checkedOnClick(this);" {% if card.is_default %} checked {% endif %}>
                    {% endif %}
                </td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.card_masked_number }}</td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.card_type }}</td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.expiration_date }}</td>
                <td {% if card.card_is_deleted %}class="text-decoration-line-through"{% endif %}>{{ card.card_brand }}</td>
                <td>
                    {% if not card.card_is_deleted %}
                        <a href="{% url 'delete_card' card.id %}" class="btn btn-danger btn-sm">Borrar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No hay registros</td>
        </tr>
    {% endif %}
    </tbody>
</table>
