<table class="table table-hover table-striped mt-4">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Plan</th>
        <th>Orden</th>
        <th>Monto a cobrar</th>
        <th>Estado</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if transactions %}
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.order.product_plan.plan.title_plan }}</td>
                <td>{{ transaction.order.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.response_description }}</td>
                <td>
                    {% if transaction.response_code == "00"  %}
                    &nbsp;<a href="{% url 'rollback' transaction.id %}" class="btn btn-danger btn-sm">Reversar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">No hay registros</td>
        </tr>
    {% endif %}
    </tbody>
</table>
